@tailwind base;
@tailwind components;
@tailwind utilities;

.tile-enter {
  animation: tileEnter .3s ease-out forwards;
}

@keyframes tileEnter {
  0% {
    scale: 0;
  }
  75% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
